---
title: Posts
layout: page
---

each doc in getCollection('posts').toJSON()
  h3
    a(href=doc.url)= doc.title
  p
    i= moment(doc.date).format("LL")
    - if (typeof doc.series != "undefined")
      span  - #{doc.series}
  p= doc.abstract
