---
title: 'Open-source projects'
layout: page
tags: ['projects','portfolio']
---

p I'm currently working on modular client-side architecture and client-server interactions through two projects, one client-side and one as a NodeJS module.

h4
  a(href="http://github.com/PaulLeCam/slob-client") slob-client
p Slob is a set of simple RequireJS modules made to abstract librairies such as Lo-Dash, jQuery, Backbone, Handlebars... and assemble them into a framework and other components to ensure modularity of application code.

h4
  a(href="https://github.com/PaulLeCam/node-slob") node-slob
p Basic implementation of shared Backbone components between the client and server.

h4
  a(href="https://github.com/JSFrogs/orator") Orator
p Host and synchronize your Reveal.js presentations across several devices.
p This project was created with two friends for the third NodeJS Knockout hackathon.
