color1 = #1836FF
color1-muted = lighten(#3D4CB2, 20%)
color2 = #6ACC28
color2-muted = darken(#6ACC28, 50%)
color3 = #FF6026
text-color = #111
bg-color1 = #FFF
bg-color2 = #EEE

a, a:link
  cursor pointer
  color color1-muted
  &:hover
    text-decoration none
    color color2

body
  background-color bg-color2

.main
  border-top 2px solid color1
  border-bottom 2px solid color3
  background-color bg-color1

header
  // height 300px
  // background url("../img/background1.jpg") no-repeat top center
  h1
    margin-top 0
    padding 20px 10px
    text-shadow 0px 3px 5px #333
    a
      color bg-color1
      &:hover
       color bg-color1
      img
        margin-right 5px
        margin-bottom 5px

aside
  float right
  border-left 2px solid color2
  margin-left -2px

footer
  padding 20px 10px

h1, h2
  line-height auto

h2.series
  color #999
  font-style italic
  font-size 1.8em
  margin-bottom 0

.meta
  i
    float left
    margin-right 20px
  .social-button
    float left


.pull-right
  .social-button
    padding 12px 5px
    float left

#content
  .social-button
    padding 2px
    float left
